<fieldset>
    <legend>Adult #{{index}}</legend>
    <strong><label for="firstName">First Name:</label></strong>
    <input type="text" id="firstName"  name="adult[][firstName]" placeholder="John" class="input--flat">
    <strong><label for="lastName">Last Name:</label></strong>
    <input type="text" name="adult[][lastName]" id="lastName" placeholder="Doe" class="input--flat">
    <strong> <label for="dateofbirth">Date of Birth:</label></strong>
    <div class="row small-pad-xs">
        <div class="col-xs">{{> months selected=adult.dob.month name="adult[][dob][month]"}}</div>
        <div class="col-xs"><input type="text" name="adult[][dob][day]" placeholder="day"></div>
        <div class="col-xs"><input type="text" name="adult[][dob][year]" placeholder="year"></div>
    </div>
    <strong><label for="relationship">Relationship with You?</label></strong>
    <input type="text" id="relationship" name="adult[][relationship]" class="input--flat">
</fieldset>