<fieldset>
    <strong><label for="firstName">First Name:</label></strong>
    <input type="text" name="firstName" value="{{user.firstName}}" id="firstName" placeholder="John" class="input--flat">
    <strong><label for="lastName">Last Name:</label></strong>
    <input type="text" name="lastName" value="{{user.lastName}}" id="lastName" placeholder="Doe" class="input--flat">

    {{! deliberately not including values for password }}
   <!-- <strong> <label for="password">Password:</label></strong>
    <input type="password" name="password" id="password" class="input--flat">
    <strong><label for="confirmPassword">Confirm Password:</label></strong>
    <input type="password" name="confirmPassword" id="confirmPassword" class="input--flat">-->

</fieldset>