<fieldset>
    <legend>Child #</legend>
    <strong><label for="relationship">Relationship with You?</label></strong>
    <input type="text" id="relationship" class="input--flat">

    <strong> <label for="dateofbirth">Date of Birth:</label></strong>
    <input type="text" id="dateofbirth" class="input--flat">


    <label for="sex">Sex:</label>
    <div class="form--inline">
        <label for="sex-male">Male</label>
        <input type="radio" name="sex" value="male" id="sex-male" />
        <label for="sex-male">Female</label>
        <input type="radio" name="sex" value="female" id="sex-male" />
    </div>
</fieldset>