<fieldset>
    <strong> <label for="email">Email:</label></strong>
    <input type="email" id="email" placeholder="example@email.com" class="input--flat">
    <span class="input--help">Will be used for your unique identifier.</span>
</fieldset>

{{> profile/basic }}