<div class="col-xs-12 col-sm-9 col-md-7 col-lg-5">
    <div class="js-accordion " data-accordion-prefix-classes="animated-accordion">
        <h4 class=" js-accordion__header" data-accordion-opened="true">Basic Profile</h4>
        <div class="js-accordion__panel">
            {{> profile/create}}
        </div>

        <h4 class="js-accordion__header" data-accordion-opened="true">About your Residence</h4>
        <div class="js-accordion__panel">
            {{> profile/residence}}
        </div>

        <h4 class="js-accordion__header" data-accordion-opened="true">Adults at your Home</h4>
        <div class="js-accordion__panel">
           {{> profile/adults }}
        </div>

        <h4 class="js-accordion__header" data-accordion-opened="true">Children at your Home</h4>
        <div class="js-accordion__panel">
           {{> profile/children}}
        </div>
        <h4 class="js-accordion__header" data-accordion-opened="true">Children Preferences</h4>
        <div class="js-accordion__panel">
            {{> profile/childrenpreferences}}
        </div>
    </div>
</div>