<div class="col-xs-12 col-sm-9 col-md-7 col-lg-5">
    <div class="js-accordion " data-accordion-prefix-classes="animated-accordion">
        <h4 class=" js-accordion__header" data-accordion-opened="false">Basic Profile</h4>
        <div class="js-accordion__panel">
            {{> profile/basic this}}
        </div>

        <h4 class="js-accordion__header" data-accordion-opened="false">About your Residence</h4>
        <div class="js-accordion__panel">
            {{> profile/residence residence = user.userDetails.residence }}
        </div>

        <h4 class="js-accordion__header" data-accordion-opened="false">Adults at your Home</h4>
        <div class="js-accordion__panel ">
            <div class="js-profile-adult-container">
                {{#each user.userDetails.adults}}
                    {{> profile/adults adult=this index=@index}}
                {{/each}}
            </div>
            <button type="button"  class=" btn btn-default js-profile-add-adult" aria-label="Add Adult">Add Adult</button>
        </div>

        <h4 class="js-accordion__header" data-accordion-opened="false">Children at your Home</h4>
        <div class="js-accordion__panel ">
            <div class="js-profile-children-container">
                {{#each user.userDetails.children}}
                    {{> profile/children child=this index=@index}}
                {{/each}}
            </div>
            <button type="button" class=" btn btn-default js-profile-add-children" aria-label="Add Child">Add Child</button>
        </div>
        <h4 class="js-accordion__header" data-accordion-opened="false">Children Preferences</h4>
        <div class="js-accordion__panel">
                {{> profile/childrenpreferences childpref=user.userDetails.childpref childtype=user.userDetails.childtype}}
        </div>
    </div>
</div>