<form action="update" method="post"  id="updateprofile" class="js-accordion js-profile-update" data-accordion-prefix-classes="animated-accordion">
    <div class="row profile-update-info">
        <button id="update_profile_btn" type="submit" form="updateprofile" value="Submit" class="btn btn-primary">Save updated Info</button>
    </div>

        <div class="col-xs-12">
            <div class=" js-accordion__header">
                <h3 data-accordion-opened="false">Who do you want to foster?<svg data-toggle="popover" title="Information" data-content="Placements can occur more quickly when case workers know who you want to foster." class="svg-icon svg-icon--help" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/>
                </svg></h3>
                <button class="btn btn-secondary">Edit</button>
            </div>

            <div class="js-accordion__panel">
                {{> profile/childrenpreferences childpref=user.userDetails.childpref childtype=user.userDetails.childtype}}
            </div>
        </div>
        <div class="col-xs-12">
            <div class=" js-accordion__header">
                <h3  data-accordion-opened="true">Adults at your Home<svg data-toggle="popover" title="Information" data-content="Simplify the placement process by sharing who lives at your home." class="svg-icon svg-icon--help" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/>
                </svg></h3>
                <button class="btn btn-secondary">Edit</button>
            </div>
            <div class="js-accordion__panel ">
                <div class="js-profile-adult-container">
                    <table class="table">
                        <caption>Existing Adults</caption>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Relationship</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each user.userDetails.adults}}
                            {{> profile/exisitingadult adult=this index=@index}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <button type="button"  class=" btn btn-default js-profile-add-adult" aria-label="Add Adult">Add Adult</button>
            </div>
        </div>



        <div class="col-xs-12">
            <div class=" js-accordion__header">
                <h3  data-accordion-opened="false">About your Residence<svg data-toggle="popover" title="Information" data-content="Find foster agencies near your home, and get started with home visits by providing your address." class="svg-icon svg-icon--help" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/>
                </svg></h3>
                <button class="btn btn-secondary">Edit</button>
            </div>
            <div class="js-accordion__panel">
                {{> profile/residence residence = user.userDetails.residence }}
            </div>
        </div>
        <div class="col-xs-12">
            <div class=" js-accordion__header">
                <h3  data-accordion-opened="false">Children at your Home<svg data-toggle="popover" title="Information" data-content="Save time during placement by sharing who lives at your home." class="svg-icon svg-icon--help" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/>
                </svg></h3>
                <button class="btn btn-secondary">Edit</button>
            </div>
            <div class="js-accordion__panel ">
                <div class="js-profile-children-container">
                    <table class="table">
                        <caption>Existing Children</caption>
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Age</th>
                            <th>Relationship</th>
                            <th>Sex</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each user.userDetails.children}}
                            {{> profile/exisitingchildren child=this index=@index}}
                        {{/each}}
                        </tbody>
                    </table>

                </div>
                <button type="button" class=" btn btn-default js-profile-add-children" aria-label="Add Child">Add Child</button>
            </div>

    </div>







</form>
