<form action="update" method="post"  id="updateprofile" class="js-accordion js-profile-update" data-accordion-prefix-classes="animated-accordion">

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-centered">
            <div class=" js-accordion__header" data-accordion-opened="true">
                <h3>Who do you want to foster?</h3>
            </div>

            <div class="js-accordion__panel">
                {{> profile/childrenpreferences childpref=user.userDetails.childpref childtype=user.userDetails.childtype}}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-centered">
            <div class=" js-accordion__header">
                <h3  data-accordion-opened="false">About your Residence</h3>
            </div>
            <div class="js-accordion__panel">
                {{> profile/residence residence = user.userDetails.residence }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-centered">
            <div class=" js-accordion__header">
                <h3  data-accordion-opened="true">Adults at your Home</h3>
            </div>
            <div class="js-accordion__panel ">
                <div class="js-profile-adult-container">
                    <p>Simplify the placement process by sharing who lives at your home.</p>
{{#if user.userDetails.adults.length}}
    <table class="table">
        <caption>Existing Adults {{user.userDetails.adults.length}}</caption>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Relationship</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {{#each user.userDetails.adults}}
            {{> profile/exisitingadult adult=this index=@index}}
        {{/each}}
        </tbody>
    </table>
{{else}}

{{/if}}

                </div>
                <button type="button"  class=" btn btn-default js-profile-add-adult profile-add-btn" aria-label="Add Adult">Add Adult</button>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-centered">
            <div class=" js-accordion__header">
                <h3  data-accordion-opened="false">Children at your Home</h3>
            </div>
            <div class="js-accordion__panel ">
                <div class="js-profile-children-container">
                    <p>Save time during placement by sharing who lives at your home.</p>
                    {{#if user.userDetails.children.length}}
                        <table class="table">
                            <caption>Existing Children</caption>
                            <thead>
                            <tr>
                                <th>Age</th>
                                <th>Relationship</th>
                                <!--<th>Sex</th>-->
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each user.userDetails.children}}
                                {{> profile/exisitingchildren child=this index=@index}}
                            {{/each}}
                            </tbody>
                        </table>
                    {{/if}}


                </div>
                <button type="button" class=" btn btn-default js-profile-add-children profile-add-btn" aria-label="Add Child">Add Child</button>
            </div>

    </div>




    <div class="row profile-update-info text--center">
        <button id="update_profile_btn" type="submit" form="updateprofile" value="Submit" class="btn btn-primary">Save updated Info</button>
    </div>



</form>
<br/><br/>
