<nav id="primary-nav">
    <ul class="nav-menu">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item">
            <a href="/">Become a Foster Parent</a>
        </li>
        <li class="nav-item">
            <a href="/">Find a Foster Agency</a>
            <i class="icon"></i>
            <div class="sub-nav">
                <ul class="sub-nav-group">
                    <li>
                        <a href="/">Link Lorem ipsum</a>
                        <p class="sub-nav-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, libero.
                        </p>
                    </li>
                    <li>
                        <a href="/">Link Lorem ipsum</a>
                        <p class="sub-nav-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, libero.
                        </p>
                    </li>
                </ul>
                <ul class="sub-nav-group">
                    <li>
                        <a href="/">Link Lorem ipsum</a>
                        <p class="sub-nav-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, libero.
                        </p>
                    </li>
                    <li>
                        <a href="/">Link Lorem ipsum</a>
                        <p class="sub-nav-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, libero.
                        </p>
                    </li>
                </ul>
                <ul class="sub-nav-group">
                    <li>
                        <a href="/">Link Lorem ipsum</a>
                        <p class="sub-nav-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, libero.
                        </p>
                    </li>
                    <li>
                        <a href="/">Link Lorem ipsum</a>
                        <p class="sub-nav-description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, libero.
                        </p>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item"><a href="/">Learn about the Children</a></li>
        <li class="nav-item"><a href="/">About the Program</a></li>
        <li class="nav-item"><a href="/">Contact Us</a></li>
    </ul>
</nav>