<nav id="primary-nav">
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/">Home</a>
        </li>
        <li class="nav-item">
            <a href="/#find-locations" >Find a Foster Agency</a>
        </li>
        <li class="nav-item">
            <a href="/about">About</a>
        </li>
    </ul>
</nav>