
<header class="site-header">

    {{> toolbar}}
    <img class="site-logo" src="/public/assets/header-ca.gov.png" alt="California Government Logo">
    <div class="site-header-title-container">
        <div class="site-nav-icon" id="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1 class="site-header-title">California </br> Foster System</h1>
    </div>

</header>

