
<header class="site-header">

    {{> toolbar this}}
    <img class="site-logo" src="/public/assets/header-ca.gov.png" alt="California Government Logo">
<div class="site-header-title-container">
        <a class="site-nav-icon" id="nav-toggle" tabindex="1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
        <h1 class="site-header-title"><a href="/">California </br> Foster Care System</a></h1>
    </div>

</header>

