<div class="toolbar">
    <ul class="account-management">
        {{#if user}}
            <li><a href="/profile" class="account-management-user">{{user.firstName}}
                <svg class="svg-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 10l5 5 5-5z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg></a></li>
            <li><a href="/profile" class="account-management-messages">
                <svg class="svg-icon" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
                </svg>
            </a></li>
        {{else}}
            <li><a href="/login" class="account-management-login">Login</a></li>
            <li><a href="/newprofile" class="account-management-create">Create an Account</a></li>
        {{/if}}

    </ul>
</div>