<div class="toolbar">
    <ul class="account-management">
        {{#if user}}
            <li><a href="/profile" class="account-management-user">{{user.firstName}}
               <!-- <svg class="svg-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 10l5 5 5-5z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>-->
              <!--  {{#if user.avatar}}
                    <img src="{{getAvatarPath user.avatar}}" class="avatar-image avatar-image--small" alt="User Avatar">
                {{else}}
                    <svg class="js-avatar-editor-show svg-icon avatar-placeholder " viewBox="0 0 24 24" width="24" height="24"
                         xmlns="http://www.w3.org/2000/svg" data-toggle="modal" data-target="#avataredit">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>
                {{/if}}-->
            </a></li>
            <li><a href="/inbox" class="account-management-messages">
                <svg class="svg-icon" viewBox="0 0 24 24" width="24" height="24"  xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
                </svg>
            </a></li>
            <li><a href="/logout" class="account-management-logout">Logout</a></li>
        {{else}}
            <li><a href="/login" class="account-management-login">Login</a></li>
            <li><a href="/newprofile" class="account-management-create">Create an Account</a></li>
        {{/if}}
    </ul>
</div>
