<div class="toolbar">
    <ul class="account-management">
        <li><a href="/login" class="account-management-login">Login</a></li>
        <li><a href="/newprofile" class="account-management-create">Create an Account</a></li>
    </ul>
</div>