<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="HandheldFriendly" content="True">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>CWS - {{title}}</title>


    {{#ifEnv "development"}}
    {{! Our js will automatically pull in styles during development }}
    {{else}}
        <link rel="stylesheet" href="/public/app.css">
    {{/ifEnv}}

</head>

<body lang="en">

    <!-- Nav Outer Layout -->
    {{> siteheader this}}
    {{> nav}}
    <!-- End Nav Outer Layout -->

    <!-- Main Content -->
    <main class="siteContent">
        {{{body}}}
    </main>

    <!-- Footer Outer Layout -->
    <footer class="siteFooter">
        <p>Copyright &copy; 2016 by Symsoft Solutions, LLC</p>
    </footer>
    <!--End Footer Outer Layout -->

    <!-- Begin Scripts-->
    <script>
        // data exposed by express-state
            {{{state}}}
    </script>
    <script src="/public/script.js"></script>
</body>

</html>
