<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>CWS - {{title}}</title>

    <link rel="stylesheet" href="/css/app.css">

<body lang="en">

    <div class="container">
        {{{body}}}
    </div>
    
    <script>
        // data exposed by express-state
        {{{state}}}
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>
