<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="HandheldFriendly" content="True">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>CWS - {{title}}</title>

    {{#if production}}
    <link rel="stylesheet" href="/public/css/framework.css">
    <link rel="stylesheet" href="/public/css/app.css">
    {{/if}}
</head>

<body lang="en">
<div class="toolbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</div>
<div container>

    <header row class="siteHeader">
        <div column=4>
            <h1 class="logo">CWS-Prototype</h1>
        </div>

        <nav column=8 class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main class="siteContent">
        {{{body}}}
    </main>
    <footer class="siteFooter">
        <p>Copyright &copy; 2016 by Symsoft Solutions, LLC</p>
    </footer>
</div>

<script>
    // data exposed by express-state
        {{{state}}}
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/public/js/script.js"></script>

</body>

</html>
