<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="HandheldFriendly" content="True">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>CWS - {{title}}</title>

    <link rel="stylesheet" href="/public/css/framework.css">
    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body lang="en">
<div container>
    <a id="nav-toggle" href="#primary-nav">MENU</a>
    <nav id="primary-nav">
        <ul class="nav-menu">
            <li class="nav-item"><a href="?tv">Home</a></li>
            <li class="nav-item">
                <a href="?movie">Movies</a>
                <i class="icon"></i>
                <div class="sub-nav">
                    <ul class="sub-nav-group">
                        <li><a href="?movie&genre=0">Action &amp; Adventure</a></li>
                        <li><a href="?movie&genre=2">Children &amp; Family</a></li>
                        <li>&#8230;</li>
                    </ul>
                    <ul class="sub-nav-group">
                        <li><a href="?movie&genre=7">Dramas</a></li>
                        <li><a href="?movie&genre=9">Foreign</a></li>
                        <li>&#8230;</li>
                    </ul>
                    <ul class="sub-nav-group">
                        <li><a href="?movie&genre=14">Musicals</a></li>
                        <li><a href="?movie&genre=15">Romance</a></li>
                        <li>&#8230;</li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="?tv">TV Shows</a>
                <i class="icon"></i>
                <div class="sub-nav">
                    <ul class="sub-nav-group">
                        <li><a href="?tv&genre=20">Classic TV</a></li>
                        <li><a href="?tv&genre=21">Crime TV</a></li>
                        <li>&#8230;</li>
                    </ul>
                    <ul class="sub-nav-group">
                        <li><a href="?tv&genre=27">Reality TV</a></li>
                        <li><a href="?tv&genre=30">TV Action</a></li>
                        <li>&#8230;</li>
                    </ul>
                    <ul class="sub-nav-group">
                        <li><a href="?tv&genre=33">TV Dramas</a></li>
                        <li><a href="?tv&genre=34">TV Horror</a></li>
                        <li>&#8230;</li>
                    </ul>
                </div>
            </li>
            <li class="nav-item"><a href="?music">Music</a></li>
            <li class="nav-item"><a href="?video-games">Video Games</a>
                <i class="icon"></i>
                <div class="sub-nav">
                    <ul class="sub-nav-group">
                        <li><a href="?video-games&genre=20">Role Playing</a></li>
                        <li><a href="?video-games&genre=21">Strategy</a></li>
                        <li>&#8230;</li>
                    </ul>
                    <ul class="sub-nav-group">
                        <li><a href="?video-games&genre=27">FPS</a></li>
                        <li><a href="?video-games&genre=30">Sports</a></li>
                        <li>&#8230;</li>
                    </ul>
                    <ul class="sub-nav-group">
                        <li><a href="?video-games&genre=33">Puzzle</a></li>
                        <li><a href="?video-games&genre=34">Multiplayer</a></li>
                        <li>&#8230;</li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <header row class="siteHeader">
        <div column=4>
            <h1 class="logo">CWS-Prototype</h1>
        </div>

        <nav column=8 class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main class="siteContent">
        {{{body}}}
    </main>
    <footer class="siteFooter">
        <p>Copyright &copy; 2016 by Symsoft Solutions, LLC</p>
    </footer>
</div>

<script>
    // data exposed by express-state
        {{{state}}}
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/public/js/script.js"></script>

</body>

</html>
