<div class="row center-xs text--center">
    <div class="col-xs-12">
        <h1>404: Page not found</h1>
        <p>
            Sorry, the page you are looking for does not exist. Want to go back to the <a href="/">home page</a>?
        </p>
    </div>
</div>


