<div class="container" style="max-width:800px;">
    <h1>About</h1>
    <p>This prototype enables foster parents to create a profile, find local foster care facilities, and exchange private messages with case workers. This was developed as part our response to RFI #75001 from California Health & Human Services</p>
    <p>For more information see our<a href="https://github.com/SymSoftSolutions/CWS-Prototype"> github repo </a></p>
</div>
