<div class="feature">
    <h1 class="feature-title">25,000 California kids need your help.</h1>
    <div class="feature-info row text-center ">
        <h2 class="feature-description   heading--emphasis">Becoming a foster parent is easier - and even more rewarding
            - than you think</h2>

    </div>
</div>

<!--<button class="button--lg bg--gold button--round">Learn How to Become a Foster Parent</button>-->
<!--<button class="button--lg bg--gold button--round">Find a Foster Family Agency Near You</button>-->

<div class="container-fluid">
    <div class="row center-xs accordion">
        <div class="col-xs-12 text-center heading--emphasis">
            <h2>Steps to Becoming a Foster Parent</h2>
        </div>

        <div class="col-xs-12 col-md-4 " >
                <span class="text--emphasis">1. Do this one important thing, such as register or something</span>
                <p >Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime necessitatibus
                    obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                    <a href="#">Read more</a></p>
        </div>
        <div class="col-xs-12 col-md-4 " >
            <span class="text--emphasis">2. Do this one important thing, such as register or something</span>
            <p >Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime necessitatibus
                obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                <a href="#">Read more</a></p>
        </div>
        <div class="col-xs-12 col-md-4 " >
            <span class="text--emphasis">3. Do this one important thing, such as register or something</span>
            <p >Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime necessitatibus
                obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                <a href="#">Read more</a></p>
        </div>


    </div>
    <div class="row text-center">
        <a href="/newprofile" class="btn btn-primary btn-lg heading--emphasis">Register for an account to begin</a>
    </div>

    <div class="row" id="find-locations">
        <div class="col-xs-12 text-center heading--emphasis">
            <h2>Foster Family Agency Locations</h2>
            <p style="max-width:400px;margin:0 auto;">A foster family agency guides you through becoming a foster parent, including house visits, interviews, training, and matching a foster child to your household</p>
            <button class="btn btn-default  btn-lg js-find-locations">Find Locations near you</button>
        </div>

        <div class="col-md-6 mapthat__container" style="overflow:hidden">
            <div style="width: 600px; height: 550px">
                <div id="mapthat_map"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="mapthat_list" style="max-height: 600px; overflow: auto;"></div>
        </div>
    </div>
</div>


