<div class="feature">
    <h1 class="feature-title">25,000 California kids need your help.</h1>
    <div class="feature-info row text-center ">
        <h2 class="feature-description   heading--emphasis">Becoming a foster parent is easier - and even more rewarding
            - than you think</h2>

    </div>
</div>

<!--<button class="button--lg bg--gold button--round">Learn How to Become a Foster Parent</button>-->
<!--<button class="button--lg bg--gold button--round">Find a Foster Family Agency Near You</button>-->

<div class="container-fluid">
    <div class="row center-xs accordion">
        <div class="col-xs-12 text-center heading--emphasis">
            <h2>Steps to Becoming a Foster Parent</h2>
        </div>

        <div class="container">
            <div class="col-xs-12 col-md-4 ">
                <span class="text--emphasis">Find a foster agency</span>
                <p>Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime
                    necessitatibus
                    obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                </p>
            </div>
            <div class="col-xs-12 col-md-4 ">
                <span class="text--emphasis">Apply for your license</span>
                <p>Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime
                    necessitatibus
                    obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                </p>
            </div>
            <div class="col-xs-12 col-md-4 ">
                <span class="text--emphasis">Get support</span>
                <p>Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime
                    necessitatibus
                    obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                </p>
            </div>
        </div>


    </div>
    <div class="row text-center">
        <a href="/newprofile" class="btn btn-primary btn-lg heading--emphasis">Register for an account to begin</a>
    </div>
</div>
<div class='container-fluid' id="find-locations">
    <div class="container">
        <div class="row" style="margin-bottom: 0;">
            <div class="col-xs-12 12 col-sm-8 col-md-9  heading--emphasis" style="margin-bottom: 0;">
                <h2>Foster Family Agency Locations</h2>
                <!--   <p style="max-width:400px;margin:0 auto;">A foster family agency guides you through becoming a foster
                       parent, including house visits, interviews, training, and matching a foster child to your
                       household</p>-->
            </div>
            <div class=" col-xs-12 col-sm-4 col-md-3 location-set-tools" style="margin-bottom: 0;">
                <input type="text" placeholder="Zip Code" class="form-control js-find-locations-zip hide" value="{{user.userDetails.residence.zipcode}}">
                <button class="btn btn-primary js-find-locations">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="16" height="16" viewBox="0 0 512 512">
                        <path fill="#fff"
                              d="M283.647 259.252c0 13.473-10.922 24.395-24.395 24.395s-24.395-10.922-24.395-24.395c0-13.473 10.922-24.395 24.395-24.395s24.395 10.922 24.395 24.395z"></path>
                        <path fill="#fff" d="M163.299 163.299l39.031 91.074 52.042-52.042z"></path>
                        <path fill="#fff"
                              d="M256 8.799c-133.358 0-242.322 110.59-242.322 247.201s108.963 247.201 242.322 247.201 242.322-110.59 242.322-247.201c0-136.611-108.964-247.201-242.322-247.201zM200.705 317.8l-89.448-204.917 204.917 89.448 89.447 204.917-204.917-89.447z"></path>
                    </svg>
                    &nbsp;<span class="btn-title">Set Location</span>
                </button>
            </div>
        </div>
    </div>


    <div class="container">


        <div class="col-md-6">
            <div id="mapthat_list" style="max-height: 550px; overflow: auto;"></div>
        </div>
        <div class="col-md-6 mapthat__container" style="overflow:hidden">
            <div id="mapthat_map_container">
                <div id="mapthat_map"></div>
            </div>
        </div>

    </div>
</div>


</div>
