<div class="feature">
    <h1 class="feature-title">Info About Program</h1>

    <p class="feature-description">More info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, exercitationem.</p>

    <button class="button--lg bg--blue">Learn More</button>
</div>

<div row>
    <div column=6>
        <h3 class="header-standout">Heading</h3>

        <p>This is a short description for one of the three columns on our homepage.</p>
    </div>

    <div column=6>
        <h3 class="header-standout">Heading</h3>

        <p>This is a short description for one of the three columns on our homepage.</p>
    </div>
</div>

