<div class="feature">
    <h1 class="feature-title">25,000 California kids need your help.</h1>
    <div class="feature-info row center-xs">
        <h2 class="feature-description col-xs-12 col-md-8 ">Becoming a foster parent is easier - and even more rewarding
            - than you think</h2>

    </div>
</div>

<!--<button class="button--lg bg--gold button--round">Learn How to Become a Foster Parent</button>-->
<!--<button class="button--lg bg--gold button--round">Find a Foster Family Agency Near You</button>-->

<div class="container-fluid">
    <div class="row center-xs accordion">
        <div class="col-xs-12 center-xs text--center">
            <h2>Steps to Becoming a Foster Parent</h2>
        </div>

        <div class="col-xs-12 col-md-4 " >
                <span class="text--emphasis">Do this one important thing, such as register or something</span>
                <p >Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime necessitatibus
                    obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                    <a href="#">Read more</a></p>
        </div>
        <div class="col-xs-12 col-md-4 " >
            <span class="text--emphasis">Do this one important thing, such as register or something</span>
            <p >Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime necessitatibus
                obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                <a href="#">Read more</a></p>
        </div>
        <div class="col-xs-12 col-md-4 " >
            <span class="text--emphasis">Do this one important thing, such as register or something</span>
            <p >Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime necessitatibus
                obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                <a href="#">Read more</a></p>
        </div>

       <!-- <div class="col-xs-12 col-md-4 col-lg-4 accordion-item" >
            <div class="target" tabindex="0">
                <span class="text--emphasis " >Do this one important thing, such as register or something</span>
                <p class="accordion-panel">Hello! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur iure maxime necessitatibus
                    obcaecati perspiciatis praesentium sed ullam voluptatum? Dignissimos, et!
                    <a href="#">Read more</a></p>
            </div>
        </div>-->
    </div>
    <div class="row center-xs">
        <button class=" button--bordered button--round">Register for an account to begin</button>

    </div>
</div>


