<div class="feature">
    <h1 class="feature-title">25,000 California kids need your help.</h1>
    <div class="feature-info row center-xs">
        <h2 class="feature-description col-xs-12 col-md-8 ">Becoming a foster parent is easier - and even more rewarding - than you think</h2>

    </div>
</div>

<!--<button class="button--lg bg--gold button--round">Learn How to Become a Foster Parent</button>-->
<!--<button class="button--lg bg--gold button--round">Find a Foster Family Agency Near You</button>-->
<div row>
    <div column=6>
        <h3 class="header-standout">Heading</h3>

        <p>This is a short description for one of the three columns on our homepage.</p>
    </div>

    <div column=6>
        <h3 class="header-standout">Heading</h3>

        <p>This is a short description for one of the three columns on our homepage.</p>
    </div>
</div>

