<div class="container-fluid">

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-text">
        Search: <input type="text" id="inbox_searchbox">
    </div>
  </nav>

  <a id="inbox_prev">Prev</a>
  <a id="inbox_next">Next</a>

  <h2>My Inbox</h2>

  <div id="inbox_container" class="row">
      <div class="col-xs-3">
          <button type="button" class="btn btn-default" aria-label="New Message">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> New Message
          </button>
          <div class="list-group">
              <a href="#" class="list-group-item active">
                Inbox <span id="inbox_count">(121)</span>
              </a>
              <a href="#" class="list-group-item">Sent <span id="sent_count">(26)</span></a>
              <a href="#" class="list-group-item">Trash <span id="trash_count">(10)</span></a>
          </div>
      </div>
      <div class="col-xs-9">

      </div>
  </div>

  <table id="inbox_table" class="table table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          <b>Joan Thomas</b><br/>
          Question for you<br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>3</td>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <b>Nathan Morales</b><br/>
          How about next week?<br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>7</td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <b>Ruth Gomez</b><br/>
          Change of plans<br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>5</td>
      </tr>
      <tr>
        <td>3</td><td>
        <b>Christopher Curtis</b><br/>
        One more thing<br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>5</td>
      </tr>
      <tr>
        <td>3</td><td>
        <b>Aaron Gibson</b><br/>
        For Friday<br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>5</td>
      </tr>
      <tr>
        <td>3</td><td>
        <b>Cynthia Guerrero</b><br/>
        A few ideas<br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>5</td>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <b>Joan Thomas</b><br/>
          Question for you<br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>3</td>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <b>Nathan Morales</b><br/>
          How about next week?<br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>7</td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          <b>Ruth Gomez</b><br/>
          Change of plans<br/>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>5</td>
      </tr>
      <tr>
        <td>3</td><td>
        <b>Christopher Curtis</b><br/>
        One more thing<br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>5</td>
      </tr>
      <tr>
        <td>3</td><td>
        <b>Aaron Gibson</b><br/>
        For Friday<br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>5</td>
      </tr>
      <tr>
        <td>3</td><td>
        <b>Cynthia Guerrero</b><br/>
        A few ideas<br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. sit amet, consectetur adipiscing elit.
        </td>
        <td>5</td>
      </tr>
    </tbody>
  </table>

</div>
