

<div id="inbox_container" class="container-fluid">

  <!-- Main tabs -->
  <ul class="nav nav-tabs main-tabs" role="tablist">
      <li role="presentation"><a class="profile-tab" role="tab">My Profile</a></li>
      <li role="presentation" class="active"><a class="inbox-tab" role="tab">My Inbox</a></li>
  </ul>

  <div id="inbox_headers" class="row hidden-xs">
      <div class="col-xs-3">
          <h2>My Inbox</h2>
      </div>
      <div class="col-xs-6 actions">
          <a class="inbox_delete_btn hidden-xs">Delete</a>
      </div>
      <div class="col-xs-3 text-right pagination">
        <b><span class="page-start"></span>-<span class="page-end"></span></b> of <span class="total-records"></span>
        <a id="inbox_prev" class="not-active"><span class="glyphicon glyphicon-triangle-left"></span></a>
        <a id="inbox_next"><span class="glyphicon glyphicon-triangle-right"></span></a>
      </div>
  </div>

  <div id="new_msg_div">
      <div class="row new-msg-header">
          <span>New Message</span><a id="close_new_msg" class="pull-right">x</a>
      </div>
      <div class="row">
          <div class="form-group">
            <label for="new_msg_to" class="col-sm-2 control-label hidden-xs">To:</label>
            <div class="col-xs-12 col-sm-10">
              <input id="new_msg_to" type="search" class="form-control new-msg-input js-select-user-autocomplete" placeholder="Enter recipient" />
            </div>
          </div>
      </div>
      <div class="row">
          <div class="form-group">
            <label for="new_msg_subject" class="col-sm-2 control-label hidden-xs">Subject:</label>
            <div class="col-xs-12 col-sm-10">
              <input id="new_msg_subject" type="search" class="form-control new-msg-input" placeholder="Subject" />
            </div>
          </div>
      </div>
      <div class="row">
        <textarea rows="8" id="new_msg_content" placeholder="Contents"></textarea><br/><br/>
        <button id="send_new_msg_btn" type="button" class="btn btn-default not-active msg-action-btn" aria-label="Send">Send</button>
        <a id="new_msg_attachment" class="attachment-link hidden"><span class="glyphicon glyphicon-paperclip"></span></a>
        <div id="new_msg_alert" class="hidden"><span class="glyphicon glyphicon-ok"></span><span class="new-msg-alert-txt">Message sent!</span></div>
        <a id="cancel_new_msg" class="pull-right">Cancel</a>
        <br/><br/>
      </div>
  </div>

  <a class="inbox_delete_btn_mobile">Delete</a>
  <div id="inbox_body" class="row">
      <div class="col-sm-3 inbox-col hidden-xs">
          <button id="new_msg_btn" type="button" class="btn btn-default" aria-label="New Message">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp;New Message
          </button>
          <div class="list-group">
              <a id="inbox_msg_list" href="#" class="list-group-item active">
                Inbox <span id="inbox_count"></span>
              </a>
              <a id="sent_msg_list" href="#" class="list-group-item">Sent <span id="sent_count"></span></a>
          </div>
      </div>
      <div class="col-sm-9 col-xs-12 inbox-col">
          <div class="search-addon">
              <span class="glyphicon glyphicon-search"></span>
              <input id="inbox_searchbox" type="search" class="form-control" placeholder="Search" />
              <button id="new_msg_btn_mobile" type="button" class="btn btn-default msg-action-btn visible-xs" aria-label="New"><span class="glyphicon glyphicon-envelope"></span> &nbsp;New</button>
          </div>
          <div id="inbox_message">
              <div class="row">
                  <div class="col-xs-8">
                      <a class="curr-msg-back"><span class="glyphicon glyphicon-triangle-left"></span></a><span class="curr-msg-subject"></span>
                  </div>
                  <div class="col-xs-4">

                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-8">
                      <img class="curr-msg-img msg-img"/>
                      <span class="curr-msg-from"></span><br/>
                      to <span class="curr-msg-to"></span>
                      <span class="curr-msg-to-id hidden"></span>
                  </div>
                  <div class="col-xs-4">
                      <span class="curr-msg-date"></span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12">
                      <p class="curr-msg-body"></p>
                  </div>
              </div>
              <div id="response_msg_div" class="row">
                  <div class="col-sm-1 hidden-xs" style="max-width: 55px;">
                      <img class="response-msg-img msg-img" src="{{getAvatarPath user.avatar}}"/>
                  </div>
                  <div id="response_msg_body_div" class="col-xs-12 col-sm-11">
                      <textarea rows="5" id="response_msg_body"></textarea><br/><br/>
                      <button id="response_msg_btn" type="button" class="btn btn-default not-active msg-action-btn" aria-label="Reply">Reply</button>
                      <a id="response_attachment" class="attachment-link hidden"><span class="glyphicon glyphicon-paperclip"></span></a>
                      <div id="response_msg_alert" class="hidden"><span class="glyphicon glyphicon-ok"></span><span class="response-msg-alert-txt">Message sent!</span></div>
                  </div>
              </div>
          </div>
          <table id="inbox_table" class="table table-hover" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody> </tbody>
          </table>
      </div>
  </div>

</div>
