<div class="container-fluid">
    <h1 class="text--center">Login</h1>
</div>
<form action="/auth" method="post" class="container-fluid">
    <div class="row-flex center-xs">

        <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5">
            {{> flash}}
            <input type="hidden" name="_csrf" value="{{_csrf }}">

            <div>
                <label>Email:</label>
                <input type="text" class="form-control" name="username"/><br/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text--center">
        <input type="submit" value="Submit" class="btn btn-primary"/>
        <div>
            <a href="/newprofile">Don't have an account?</a>
        </div>
    </div>
</form>
