<div class="container-fluid profile-container">

    <div class="profile-header">
        <div class="profile-header-info">
            {{> profile/avatar this}}
        </div>
        <div class="profile-header-info">
            <h3>{{user.firstName}} {{user.lastName}}</h3>
            <h6><strong>Your Case Worker:</strong> {{caseWorker.firstName}} {{caseWorker.lastName}}</h6>


        </div>

      {{> profile/progress }}


    </div>

    {{> profile/options this}}


</div>