/* Application CSS */

@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700|Montserrat:400,700);

body {

    background: white;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    padding: 20px;
}

h1, h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', "Helvetica", "Arial", sans-serif;
}

.header-standout {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
}

.header-standout::after {
    background-color: #D34A28;
    top: 0;
    content: '';
    width: 4px;
    left: 0;
    position: absolute;
    height: 100%;
}

p {
    font-family: 'PT Serif', serif;
}

a, a:hover, a:visited, a:focus {
    color: #3540ff;
    text-decoration: none;
}

.jumbotron {
    padding: 2em;
    max-width: 700px;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.jumbotron p {
    text-align: left;
}

h1 small {
    color: #999;
    font-weight: normal;
}


.btn, a.btn {
    background: transparent;
    border: 1px solid #3540ff;
    border-radius: 20px;
    color: #3540ff;
    transition: all 0.33s;
}
.btn:hover, a.btn:hover,
.btn:focus, a.btn:focus {
    background: #3540ff;
    color: white;
}

[container] {
    width: 90%;
}
@media (min-width: 48em) {
    [container] {
        width: 726px;
    }
}

.siteHeader {
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
}

.nav {
    margin-top: 15px;
    text-align: right;
}

.nav li {
    display: inline;
    line-height: 2.5;
    margin-left: 25px;
}
.nav li:first-of-type {
    margin-left: 0;
}

.feature {
    background-color: #eee;
    margin-top: 50px;
    padding: 35px;
    text-align: center;
}
@media (min-width: 48em) {
    .feature {
        padding: 50px;
    }
}

.feature-title {
    margin-top: 0;
}

.siteContent {
    padding: 50px 0;
}

.siteFooter {
    border-top: 1px solid #eee;
    font-size: .875em;
    padding-top: 15px;
}