<div class="container-fluid">
    <div class="row center-xs">
        <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5">
            <h1>New Profile</h1>
        </div>
    </div>
</div>

<form action="/newprofile" method="post" class="container-fluid">
                <input type="email" id="email" name="email" placeholder="example@email.com" class="input--flat">

                <input type="text" id="firstName" name="firstName" placeholder="John" class="input--flat">
                <input type="text" id="lastName" name="lastName" placeholder="Doe" class="input--flat">

                <input type="text" id="password" name="password" class="input--flat">

                <input type="text" id="confirmPassword" name="confirmpassword" class="input--flat">
            <input type="submit" value="Submit"/>
</form>


