
#inbox_container {
    max-width: 1400px;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.search-addon {
    position: relative;

    input {
        padding-left: 50px;
        border-radius: 0px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        font-size: 16px;
        height: 40px;
        -webkit-appearance:none;
        -webkit-border-radius:0px;
    }

    span {
        color: $secondary-blue;
        position: absolute;
        left: 4px;
        top: 6px;
        padding: 6px 9px;
        pointer-events: none;
    }

    #new_msg_btn_mobile {
        position: absolute;
        right: 10px;
        top: 2px;
        font-weight: bold;
        padding-left: 30px;

        .glyphicon {
            margin-top: -7px;
            color: $primary-blue;
        }
    }

}

table.dataTable {
    margin: 0 !important;
}

.not-active {
   pointer-events: none;
   cursor: default;
   color: #ccc !important;
   border-color: #ddd !important;
   font-weight: normal !important;
   .glyphicon {
       color: #ccc;
   }
}

.new-msg-mobile {
    top: 0 !important;
    right: 0 !important;
    bottom: auto !important;
    width: 100% !important;
    z-index: 10;
}

#new_msg_div {
    position: fixed;
    display: none;
    overflow: auto;
    bottom: 0;
    right: 15px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #ddd;
    height: auto;
    width: 500px;
    font-family: $font-family;
    font-size: 16px;

    .row {
        margin:0;
        border-top: 1px solid #ddd;
        .col-xs-2,.col-xs-12,.col-sm-2,.col-sm-10 {
            margin: 0;
            padding: 0;
        }
    }

    .new-msg-header {
        height: 45px;
        width: 100%;
        background-color: $primary-blue;
        color: #fff;
        font-size: 18px;
        padding-left: 15px;
        line-height: 45px;
    }

    label {
        line-height: 40px;
        padding-left: 15px !important;
        display: inline-block;
    }
    .new-msg-mobile label {
        padding-left: 2px !important;
    }
    .new-msg-input {
        border:0;
        padding-left: 0;
        display: inline-block;
        box-shadow: none;
        height: 40px;
        font-size: 15px;
    }
    .selectize-control {
        padding: 0 !important;
    }
    .selectize-input {
        @extend .new-msg-input;
        padding-top: 5px;

        .item {
            padding: 0;
        }
    }

    #close_new_msg {
        font-size: 17px;
        font-weight: bold;
        margin-right: 15px;
        color: #ddd;
    }
    #close_new_msg:hover {
        text-decoration: none;
        color: #fff;
    }
    #new_msg_content {
        border: 0;
        width: 100%;
        padding: 10px 15px;
        resize: none;
    }
    #send_new_msg_btn {
        margin: 0 15px;
    }
    #new_msg_alert {
        display: inline-block;
        margin-left: 10px;
        margin-top: 5px;
        color: #00b33c;
        .glyphicon {
            color: #00b33c;
            margin-right: 6px;
        }
    }
    #cancel_new_msg {
        margin-right: 15px;
    }
    #cancel_new_msg:hover {
        text-decoration: none;
    }
}

#inbox_table {
    margin: 0;
    border: 0;
    border-left: 0;

    thead {
      display: none;
    }
    tr:first-child {
      td {
          border-top: 0;
      }
    }
    tr:last-child {
      td {
          border-bottom: 0;
      }
    }
    td {
      vertical-align: middle;
      border-right: 0;
      border-left: 0;
    }
    td:first-child, td:last-child {
      text-align: center;
    }
    td:last-child {
      min-width: 65px;
    }
    tr:hover {
        cursor: pointer;
    }
}

#inbox_headers {
    margin: 0;
    padding: 0;
    font-family: $font-family;

    h2 {
        margin-top: 0;
    }

    .actions {
        margin-top: 5px;
        div {
            display: inline-block;
        }
    }

    .pagination {
        margin-top: 10px;
    }

    div {
        padding: 0;
        vertical-align: bottom;
    }

    #inbox_prev, #inbox_next {
        border: 1px solid #ddd;
        margin-left: 4px;
        color: $primary-blue;

        .glyphicon {
            padding: 2px;
            top: 0;
        }
    }
    #inbox_prev:hover, #inbox_next:hover {
        text-decoration: none;
        color: lighten($primary-blue,20%);
    }

    .inbox_delete_btn {
        color: $primary-blue;
        display: none;
        font-weight: bold;
        font-size: 16px;
        margin: 5px 0 5px 10px;
    }
}

.inbox_delete_btn_mobile {
    color: $primary-blue;
    display: none;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 15px 20px;
}

#inbox_body {
   border: 1px solid #ddd;
   margin: 0 0 60px 0;
   font-family: $font-family;
   font-size: 16px;

   // Makes all columns in row same height

     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display:         flex;


   #new_msg_btn {
      margin: 20px 0 10px 20px;
      border-color: #FBAD23;
      color: $primary-blue;
      font-weight: bold;
      font-size: 16px;
      min-width: 140px;
      max-width: 140px;

      .glyphicon {
          margin-top: -6px;
          color: $primary-blue;
      }
   }

   #response_msg_alert {
     display: inline-block;
     margin-left: 10px;
     padding-top: 8px;
     color: #00b33c;
     .glyphicon {
         color: #00b33c;
         margin-right: 6px;
     }
   }

   .inbox-col {
       margin: 0;
       padding: 0;
       display: flex;
     	 flex-direction: column;

       .list-group-item {
           border: 0;
           color: $primary-blue;
           padding-left: 20px;
       }
       .list-group-item.active {
           font-weight: bold;
           color: $primary-blue;
           background-color: lighten(#f2f2f2,2%);
       }
       .list-group-item:first-child {
           border-top-right-radius: 0px;
           border-top-left-radius: 0px;
       }
       .list-group-item:last-child {
           border-bottom-right-radius: 0px;
           border-bottom-left-radius: 0px;
       }
   }
   .inbox-col:last-child {
      border-left: 1px solid #ddd;
   }

   .msg-from {
      color: lighten($primary-blue, 20%);
      font-weight: bold;
   }
   .msg-subject {
      font-size: 15px;
      font-weight: bold;
   }
   .msg-body, .msg-trim-body {
      font-size: 15px;
   }
   .msg-date {
      font-size: 14px;
      color: $secondary-blue;
   }
}

#inbox_message {
    display: none;

    .row {
        margin: 0;
        border-left: 0;
        word-wrap: break-word;
        div {
            padding: 20px 15px 5px 15px;
            margin: 0;
        }
    }

    .row:first-child {
        border-bottom: 1px solid #ddd;
        div {
            padding: 15px 5px;
            margin: 0;
        }
    }

    .msg-img {
        border: 1px solid #ddd;
        float: left;
        height: 45px;
        width: 45px;
        background-color: #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }
    .curr-msg-back {
        color: $secondary-blue;
        font-size: 22px;
        margin-right: 10px;
        line-height: 40px;
        .glyphicon {
            margin-top: 7px;
        }
    }
    .curr-msg-back:hover {
        text-decoration: none;
    }
    .curr-msg-subject {
        font-weight: bold;
        color: $primary-blue;
        font-size: 22px;
        line-height: 40px;
    }
    .curr-msg-from {
        font-size: 17px;
        font-weight: bold;
        color: $secondary-blue;
    }
    .curr-msg-date {
        float: right;
        font-size: 14px;
        margin-right: 10px;
        color: $secondary-blue;
    }
    .curr-msg-body {
        color: #666;
    }

    #response_msg_body {
        min-width: 100%;
        resize: none;
        padding: 5px 10px;
    }
    #response_msg_btn {
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

.msg-action-btn {
    color: $primary-blue;
    border-color: #FBAD23;
    font-weight: bold;
}

.attachment-link {
    color: #ddd;
    font-size: 20px;
    .glyphicon {
        margin-top: 5px;
    }
}
.attachment-link:hover {
    text-decoration: none;
    color: #666;
}

.selectize-dropdown-content {
    background: white;
}

.selectize-control.form-control.new-msg-input {
    height:auto !important;
    .selectize-input {
        border: none;
        padding: none;
        line-height:2em;
    }

}
