
.search-addon {
    position: relative;

    input {
        padding-left: 50px;
        border-radius: 0px;
        border-top: 0;
        border-right: 0;
        font-size: 16px;
        height: 40px;
    }

    span {
        color: $secondary-blue;
        position: absolute;
        left: 4px;
        top: 6px;
        padding: 6px 9px;
        pointer-events: none;
    }

}

table.dataTable {
    margin: 0 !important;
}

#inbox_table {
    margin: 0;
    border: 0;
    border-left: 1px solid #ddd;

    thead {
      display: none;
    }
    tr:first-child {
      td {
          border-top: 0;
      }
    }
    td {
      vertical-align: middle;
      border-right: 0;
    }
    td:first-child, td:last-child {
      text-align: center;
    }
    tr:hover {
        cursor: pointer;
    }
}

#inbox_headers {
    margin: 40px 0 0 0;
    padding: 0;
    font-family: $font-family;

    h2 {
        margin-top: 0;
    }

    .actions {
        margin-top: 5px;
    }

    .pagination {
        margin-top: 10px;
    }

    div {
        padding: 0;
        vertical-align: bottom;
    }

    #inbox_prev, #inbox_next {
        border: 1px solid #ddd;
        margin-left: 4px;
        color: $primary-blue;

        .glyphicon {
            padding: 2px;
            top: 0;
        }
    }
    #inbox_prev:hover, #inbox_next:hover {
        text-decoration: none;
        color: lighten($primary-blue,20%);
    }

    .not-active {
       pointer-events: none;
       cursor: default;
       .glyphicon {
           color: #ccc;
       }
    }
}

#inbox_body {
   border: 1px solid #ddd;
   margin: 0 0 40px 0;
   font-family: $font-family;
   font-size: 16px;

   #new_msg_btn {
      margin: 20px 0 10px 20px;
      border-color: #FBAD23;
      color: $primary-blue;
      font-weight: bold;
      font-size: 16px;

      .glyphicon {
          margin-top: -6px;
          color: $primary-blue;
      }
   }

   .inbox-col {
       margin: 0;
       padding: 0;

       .list-group-item {
           border: 0;
           color: $primary-blue;
           padding-left: 20px;
       }
       .list-group-item.active {
           font-weight: bold;
           color: $primary-blue;
           background-color: #fff;
       }
   }

   .msg-from {
      color: lighten($primary-blue, 20%);
      font-weight: bold;
   }
   .msg-subject {
      font-size: 15px;
      font-weight: bold;
   }
   .msg-body {
      font-size: 15px;
   }
   .msg-date {
      font-size: 14px;
      color: $secondary-blue;
   }
}

#inbox_message {
    display: none;

    .row {
        margin: 0;
        border-left: 1px solid #ddd;
        word-wrap: break-word;
        div {
            padding: 20px 15px 5px 15px;
            margin: 0;
        }
    }

    .row:first-child {
        border-bottom: 1px solid #ddd;
        div {
            padding: 15px 5px;
            margin: 0;
        }
    }

    .msg-img {
        border: 1px solid #ddd;
        float: left;
        height: 45px;
        width: 45px;
        border-radius: 5px;
        margin-right: 10px;
    }
    .curr-msg-back {
        color: $secondary-blue;
        font-size: 22px;
        margin-right: 10px;
        line-height: 40px;
        .glyphicon {
            margin-top: 7px;
        }
    }
    .curr-msg-back:hover {
        text-decoration: none;
    }
    .curr-msg-subject {
        font-weight: bold;
        color: $primary-blue;
        font-size: 22px;
        line-height: 40px;
    }
    .curr-msg-from {
        font-size: 17px;
        font-weight: bold;
        color: $secondary-blue;
    }
    .curr-msg-to {

    }
    .curr-msg-date {
        float: right;
        font-size: 14px;
    }
    .curr-msg-body {
        color: #666;
    }

    #response_msg_body {
        min-width: 100%;
    }
    #response_msg_btn {
        margin-right: 15px;
        margin-bottom: 20px;
    }
    #response_attachment {
        color: #ddd;
        font-size: 20px;
        .glyphicon {
            margin-top: 5px;
        }
    }
    #response_attachment:hover {
        text-decoration: none;
        color: #666;
    }
}
