/* List styling */
.mapthat-list-item {
    cursor: pointer;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
}
.mapthat-list-item:hover {
    background-color: #f4f4f4;
}
.mapthat-list-item-selected {
    background-color: #f4f4f4;
}
/* Google search box styling */
.mapthat_container_search_box {
    margin: 12px 12px 0 0;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0 1px 4px 0 rgba(50, 50, 50, 0.25);
    box-shadow:         0 1px 4px 0 rgba(50, 50, 50, 0.25);
}
.mapthat_container_search_box svg {
    height: 21px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 21px;
}
.mapthat_search_box {
    box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.25);
    cursor: pointer;
    height: 28px;
    opacity: 0;
    position: relative;
    transition: all 0.25s cubic-bezier(0.345, 0, 0.25, 1) 0s;
    width: 28px;
    border: medium none;
    z-index: 2;
}
.mapthat_search_box:focus {
    cursor: text;
    opacity: 1;
    width: 250px;
}

.mapthat__container{
    & > div {
        margin: 0 auto;
    }
}

#find-locations {
    margin-top: 2em;
    margin-bottom: 0;
    background: #DAEBFC;
    padding-bottom: 50px;

    .container {
        padding-bottom: 30px;
    }
}

#mapthat_map_container {
    width: 500px;
    height: 550px;
}

.js-find-locations-zip {
    min-width: 120px;
    max-width: 140px;
}

.location-set-tools {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button, input {
        display: inline-block;
        margin: 1.7em 0.5em;
    }
}

#mapthat_list {
    width: 500px;
    margin: 0 auto;
    padding-right: 10px;
    margin-bottom: 40px;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    #find-locations {
        .container {
            padding: 0;
        }
        .container:last-child {
            .col-md-6 {
                padding: 0;
            }
        }
    }
    #mapthat_map_container {
        width: 300px;
        height: 450px;
    }
    #mapthat_list {
        width: 300px;
    }
}

/* Small phones */
@media (max-width: 350px) {
    #mapthat_map_container {
        width: 270px;
        height: 400px;
    }
    #mapthat_list {
        width: 270px;
    }
}
