
.avatar-image, .avatar-placeholder {
    min-width:100px;
    min-height:100px;
    max-width:150px;
    max-height:150px;
    border-radius: 50%;
}

.avatar-placeholder {
    fill: getColor(state, muted);
    border: 2px solid getColor(state, muted);
    padding: 1em;
}

/* Hide file input */

.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    .cropit-preview-image-container {
        cursor: move;
        border-radius: 50%;
    }
    .cropit-preview {
border-radius: 50%;
    }
    .cropit-preview-image {
        will-change:  initial;
    }
    .image-size-label {
        margin-top: 10px;
    }
    input, .export {
        display: block;
    }

}
