
.avatar-image, .avatar-placeholder {
    min-width:100px;
    min-height:100px;
    max-width:150px;
    max-height:150px;
    border-radius: 50%;
}

.avatar-placeholder {
    fill: getColor(state, muted);
    border: 2px solid getColor(state, muted);
    padding: 1em;
}

/* Hide file input */

.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    .cropit-preview-image-container {
        cursor: move;
        border-radius: 50%;
    }
    .cropit-preview {
border-radius: 50%;
    }
    .cropit-preview-image {
        will-change:  initial;
    }
    .image-size-label {
        margin-top: 10px;
    }
    input, .export {
        display: block;
    }

}

.profile-update-info {
    margin: 1em 0;
}

.svg-icon--help {
    fill: getColor(text, heading);
    height: 1.3em;
}

.profile-container {
    max-width:960px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.profile-header {
    display: flex;
    justify-content: left;
    .profile-header-info {
        margin-left: 1em;
    }
}

.profile-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
