.toolbar {
    // fill up the entire width
    display: block;
    width: 100%;
    flex: 1 0 auto;

    background: getColor(toolbar, background);
    color: getColor(text, ui);

    // switch its position to the right of the heading when in mobile
    @media (max-width: $mobile-nav-bp) {
        width: auto;
        order:1;
        // keep our tool bar text on the left hand side of the screen
        max-width: 100%;
    }


}

.svg-icon {
    fill: getColor(text, ui);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.account-management {
    // keep our account stuff on the far right
    text-align: right;

    // minimize the toolbars overall height with less text
    font-size: 1em;

    @media (max-width: 370px) {
        //display: block;
        text-align: center;

    }

    // framework & html overrides
    margin-bottom: 0;
    list-style: none;
    li {
        display: inline-block;
        margin: 0.5em;

        @media (max-width: $mobile-nav-bp) {
            //display: block;
            font-size: 0.9em;

        }
    }

    // giving our account list a nice vertical separator
    li + li {
        // reduce spacing to the left of the separator to match margin
        margin-left: 0;
        &:before {
            content: "";
            // add spacing after the separator to match margin
            padding-right: 0.9em;
            // make it subtle
            font-weight: 300;
            @media (max-width: $mobile-nav-bp) {
                display: none;
            }
        }
    }

    a {
        // framework & html overrides
        color: getColor(text, ui);
    }

    .account-management-create, .account-management-login {
        text-decoration: underline;
    }

    // link specific
    .account-management-login {
        //font-weight: bolder;
    }

    .account-management-logout {
        font-size: 1.5em;
    }
    .account-management-create {
        font-weight: 300;
        //color: getColor(state, muted);
    }
    
    .account-management-messages,.account-management-user {
        white-space: nowrap;
       
    }



    .account-management-user {
        font-size: 1.5em;
    }
}